* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    background-color: rgb(217, 233, 240);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.title {
    width: 50%;
    text-align: center;
    margin-top: 5rem;
}

.content {
    width: 750px;
    max-height: 50%;
    padding:1rem;
    background-color: white;
}

.seperator {
    border-bottom: 3px solid rgb(0, 38, 255);
    text-align: center;
}

.img-container{
    border: 1px solid black;
    height: 60%;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.location-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;

}

.description-container {
    margin: 0.5rem;
}

.btns-container {
    text-align: center;
    
}

button {
    border: 1px solid red;
    color: red;
    padding: 0.4rem;
    font-size: 1rem;
    background: none;
}

button:hover {
    transform: scale(1.1)
}

